In [1]:
import urllib
# from urllib import request
import requests

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
api_key = "R+BEwJ49XVmTutdoCAdNq4m7wjOsdFNhVtlzkxWVeZJPhwQqWbGcD7CNeQPipFzIWAanQVw/rPLsGkfcYvD4AQ=="

url = "http://apis.data.go.kr/1613000/RTMSDataSvcAptTrade/getRTMSDataSvcAptTrade"

params ={
    'serviceKey' : api_key, 
    'LAWD_CD' : '11560', 
    'DEAL_YMD' : '202502', 
    'pageNo': '1',
    'numOfRows' : '100',
}

response = requests.get(url, params=params)
rescode = response.status_code # 응답 코드 읽기
if(rescode==200): # 200 : 정상응답
    with open('data-files/result.xml', 'wt', encoding="utf-8") as f:
        f.write( response.content.decode('utf-8') )
    xml_str = response.content.decode('utf-8')
    
else:
    print("Error Code:" + str(rescode))

In [4]:
from xml.etree import ElementTree as ET # XML을 처리하는 파이썬 모듈 (XML 파서)

In [5]:
parsed_xml = ET.fromstring(xml_str) # XML 문자열을 처리해서 객체의 트리를 만드는 함수

In [6]:
parsed_xml # <response> elemement 객체

In [7]:
print( parsed_xml.find("header") )
print( parsed_xml.find('body') )
body = parsed_xml.find('body')

<Element 'header' at 0x00000222BBE61440>
<Element 'body' at 0x00000222BBE7B4C0>

In [8]:
items = body.find('items')
items

In [10]:
item_list = items.findall('item')
len( item_list ), item_list[0]

(100, <Element 'item' at 0x00000222BBE7A110>)

In [11]:
data = []
for item in item_list:
    row = {}
    for child in item: # item 하위의 요소들을 순회
        # print(child.tag, child.text)
        # row[child.tag] = child.text.strip()
        row.update({child.tag: child.text.strip()})
        
    data.append(row)

In [12]:
df_contracts = pd.DataFrame(data)
df_contracts.head()

,aptDong,aptNm,buildYear,buyerGbn,cdealDay,cdealType,dealAmount,dealDay,dealMonth,dealYear,dealingGbn,estateAgentSggNm,excluUseAr,floor,jibun,landLeaseholdGbn,rgstDate,sggCd,slerGbn,umdNm
0,,신길센트럴자이아파트,2021,개인,,,"147,000",27,2,2025,중개거래,서울 영등포구,84.98,4,4964,N,,11560,개인,신길동
1,,한성,1997,개인,,,"84,000",28,2,2025,중개거래,서울 영등포구,59.87,7,769-1,N,,11560,개인,신길동
2,,현대3차,1997,개인,,,"57,300",16,2,2025,중개거래,서울 영등포구,43.92,12,608-1,N,,11560,개인,대림동
3,,당산푸르지오,2004,개인,,,"104,500",22,2,2025,중개거래,서울 영등포구,59.7,1,91,N,,11560,개인,영등포동8가
4,,문래자이,2001,개인,,,"146,000",28,2,2025,중개거래,서울 영등포구,84.98,5,54,N,,11560,개인,문래동3가

In [18]:
df_contracts[df_contracts['umdNm'] == '영등포동8가']

,aptDong,aptNm,buildYear,buyerGbn,cdealDay,cdealType,dealAmount,dealDay,dealMonth,dealYear,dealingGbn,estateAgentSggNm,excluUseAr,floor,jibun,landLeaseholdGbn,rgstDate,sggCd,slerGbn,umdNm
3,,당산푸르지오,2004,개인,,,"104,500",22,2,2025,중개거래,서울 영등포구,59.7,1,91,N,,11560,개인,영등포동8가
23,,삼환,1999,개인,,,"128,000",21,2,2025,중개거래,서울 영등포구,84.87,6,76-1,N,,11560,개인,영등포동8가
37,,당산푸르지오,2004,개인,,,"169,000",27,2,2025,중개거래,서울 영등포구,114.51,23,91,N,,11560,개인,영등포동8가
39,,당산푸르지오,2004,개인,,,"122,000",25,2,2025,중개거래,서울 영등포구,59.7,13,91,N,,11560,개인,영등포동8가
95,,당산푸르지오,2004,개인,,,"124,000",11,2,2025,중개거래,"서울 노원구, 서울 영등포구",59.7,17,91,N,,11560,개인,영등포동8가