In [2]:
a = [ ] # a = list()
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [6]:
print(b[1])
print(c[1:3])
print(e[2])
print(e[2][0])

2
['is', 'too']
['Life', 'is']
Life

In [7]:
b[1] = 200
print(b)

[1, 200, 3]

In [8]:
a = [1, 2, 3, 4, 5]
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [10]:
a = [4, 7, 2, 10, 3, 5]
print(a)
a.sort()
print(a)
a.reverse()
print(a)

[4, 7, 2, 10, 3, 5]
[2, 3, 4, 5, 7, 10]
[10, 7, 5, 4, 3, 2]

In [12]:
a = [1, 2, 3]
print(a)
a.insert(0, 4)
print(a)

[1, 2, 3]
[4, 1, 2, 3]

In [16]:
a1 = [1, 2, 3]
a2 = [1, 2, 3]
b = [4, 5]
c = a1.append(b)
print(a1)
a2.extend(b)
print(a2)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

In [ ]:
a = (1, 2, 3)
print(a)
a[1] = 200 # 튜플의 값 변경할 수 없습니다.
print(a)

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [ ]:
l = [1]
t = (1,)

print(l)
print(t)

[1]
(1,)

In [25]:
(3 + 6) / 2

4.5

In [1]:
names = {'a': '장동건',
         'b': '한석규', 
         'c': '송강호', 
         'd': '최민식' }

print( names['a'] )
print( names['d'] )

장동건
최민식

In [6]:
print(names.keys())
print(names.values())

# print(names.values()[2])
print( type(names.values()) )
values = list(names.values()) # list 형식으로 변경
print(values[2])

dict_keys(['a', 'b', 'c', 'd'])
dict_values(['장동건', '한석규', '송강호', '최민식'])
<class 'dict_values'>
송강호