In [1]:
a = 10 + 20 + 30
print(a)

60

In [4]:
a = 10 + \
    20 + \
    30
print(a)

60

In [5]:
a = [1, 2, 3, 
     4, 5, 6]
print(a)

[1, 2, 3, 4, 5, 6]

In [7]:
a = 10; b = 20
c, d = 10, 20

print(a, b, c, d)

10 20 10 20

In [ ]:
a = 'hello'
b = "hi"
c = """bye"""
d = '''end'''

e = 'hello1 \
hello2'
f = '''hello1
hello2'''

In [ ]:
print('hello 1')
# print('hello 2')


# print('hello 3')
# print('hello 4')
# print('hello 5')
# print('hello 6')

hello 1

In [11]:
a = 100
b = 100.
c = 'hello'

print( type(a), type(b), type(c) )

<class 'int'> <class 'float'> <class 'str'>

In [14]:
a = 10
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

print( a // b)  # 몫 연산
print( a % b)   # 나머지 연산

13
7
30
3.3333333333333335
1000
3
1

In [ ]:
a = 10.1
b = 10
c = '10'

print( a + b )
# print( b + c ) # 숫자와 문자열을 연산할 수 없습니다.
print( b + int(c) ) # '10' -> 10
print( b + float('11.11')) # '11.11' -> 11.11

20.1
20
21.11

In [5]:
a = 'hello '
b = 'john doe'

c = a + b
print(c)

hello john doe

In [3]:
a = 'test'
b = a * 5
print(b)

testtesttesttesttest

In [7]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)
d = a * 5
print(d)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [11]:
a = 'hello john doe' # a = ['h', 'e', 'l', 'l', 'o', ...]

print(a[6]) # 6번째 문자 
print(a[6:10]) # 5번째부터 10번째문자
print(a[-3]) # 뒤에서 3번째 문자
print( len(a) ) # 문자 갯수
print( a.find('john') ) # 위치 찾기

j
john
d
14
6

In [16]:
name = "홍길동"
age = 35

# test = "내 이름은 " + name + "이고 나이는" + age + " 입니다"
# test = "내 이름은 %s이고 나이는 %d 입니다" % (name, age)
# test = "내 이름은 {0}이고 나이는 {1} 입니다".format(name, age)
test = f"내 이름은 {name}이고 나이는 {age} 입니다"

print(test)

내 이름은 홍길동이고 나이는 35 입니다

In [21]:
a = """첫 번째 문자열
두 번째 문자열"""
print(a)

b = "첫 번째 문자열 \
두 번째 문자열"
print(b)

b = "첫 번째 문자열 \n\"두 번째\" 문자열"
print(b)

첫 번째 문자열
두 번째 문자열
첫 번째 문자열 두 번째 문자열
첫 번째 문자열
"두 번째" 문자열

In [23]:
names = '장동건,송강호,최민식,한석규'
names2 = names.split(',') # -> ['장동건','송강호','최민식','한석규']
print(names2)

names3 = ':'.join(names2) # '장동건:송강호:최민식:한석규'
print(names3)

['장동건', '송강호', '최민식', '한석규']
장동건:송강호:최민식:한석규