In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

import statsmodels.api as sm
import statsmodels.formula.api as smf

In [3]:
# titanic-train.csv 파일의 데이터 사용
df_titanic = pd.read_csv('data-files/titanic-train.csv')
df_titanic.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [ ]:
# 생존여부 ~ 성별 관계 검정 -> 범주 : 범주
df_titanic.groupby(by=["Sex"])["Survived"].value_counts() # 표본에서 확인한 내용 : 성별에 따라 생존율이 다르다

cross_tab = pd.crosstab(df_titanic['Sex'], df_titanic['Survived']) # 교차표 작성 -> chi2 검정의 입력으로 사용

stats.chi2_contingency(cross_tab)

Chi2ContingencyResult(statistic=np.float64(260.71702016732104), pvalue=np.float64(1.1973570627755645e-58), dof=1, expected_freq=array([[193.47474747, 120.52525253],
       [355.52525253, 221.47474747]]))

In [12]:
df_titanic['Age'].isna().sum(), df_titanic.shape

(np.int64(177), (891, 12))

In [15]:
# 생존여부 ~ Pclass 관계 검정
# 생존여부 ~ Age 관계 검정 -> 범주 : 수치 -> t-test

# df_titanic['Age'] = df_titanic['Age'].fillna(df_titanic['Age'].mean())

df_titanic.groupby(by=["Survived"])["Age"].mean()

age1 = df_titanic[df_titanic['Survived'] == 1]["Age"] # 생존자의 나이 데이터
age1 = age1.dropna()
age2 = df_titanic[df_titanic['Survived'] == 0]["Age"] # 사망자의 나이 데이터
age2 = age2.dropna()

print(age1.mean(), age2.mean())

stats.ttest_ind(age1, age2)

28.343689655172415 30.62617924528302

TtestResult(statistic=np.float64(-2.06668694625381), pvalue=np.float64(0.03912465401348249), df=np.float64(712.0))