In [1]:
import numpy  as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# 인구 데이터 준비
df_population = pd.read_csv("data-files/population.csv", encoding="utf-8")

C:\Users\human\AppData\Local\Temp\ipykernel_2252\2400705453.py:2: DtypeWarning: Columns (100,101,103,198,199,200,201,305,306,307,309) have mixed types. Specify dtype option on import or set low_memory=False.
  df_population = pd.read_csv("data-files/population.csv", encoding="utf-8")

In [3]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3911 entries, 0 to 3910
Columns: 310 entries, 행정구역 to 2025년01월_여_100세 이상
dtypes: int64(7), object(303)
memory usage: 9.3+ MB

In [6]:
# print( df_population.columns ) # 컬럼 이름의 목록 반환
for col in df_population.columns:
    c = df_population[col] # 해당 컬럼을 찾아서 Series로 반환
    print(col, c.dtype)

행정구역 object
2025년01월_계_총인구수 object
2025년01월_계_연령구간인구수 object
2025년01월_계_0세 object
2025년01월_계_1세 object
2025년01월_계_2세 object
2025년01월_계_3세 object
2025년01월_계_4세 object
2025년01월_계_5세 object
2025년01월_계_6세 object
2025년01월_계_7세 object
2025년01월_계_8세 object
2025년01월_계_9세 object
2025년01월_계_10세 object
2025년01월_계_11세 object
2025년01월_계_12세 object
2025년01월_계_13세 object
2025년01월_계_14세 object
2025년01월_계_15세 object
2025년01월_계_16세 object
2025년01월_계_17세 object
2025년01월_계_18세 object
2025년01월_계_19세 object
2025년01월_계_20세 object
2025년01월_계_21세 object
2025년01월_계_22세 object
2025년01월_계_23세 object
2025년01월_계_24세 object
2025년01월_계_25세 object
2025년01월_계_26세 object
2025년01월_계_27세 object
2025년01월_계_28세 object
2025년01월_계_29세 object
2025년01월_계_30세 object
2025년01월_계_31세 object
2025년01월_계_32세 object
2025년01월_계_33세 object
2025년01월_계_34세 object
2025년01월_계_35세 object
2025년01월_계_36세 object
2025년01월_계_37세 object
2025년01월_계_38세 object
2025년01월_계_39세 object
2025년01월_계_40세 object
2025년01월_계_41세 object
2025년01월_계_42세 object
2025년01월_계_43세 object
2025년01월_계_44세 object
2025년01월_계_45세 object
2025년01월_계_46세 object
2025년01월_계_47세 object
2025년01월_계_48세 object
2025년01월_계_49세 object
2025년01월_계_50세 object
2025년01월_계_51세 object
2025년01월_계_52세 object
2025년01월_계_53세 object
2025년01월_계_54세 object
2025년01월_계_55세 object
2025년01월_계_56세 object
2025년01월_계_57세 object
2025년01월_계_58세 object
2025년01월_계_59세 object
2025년01월_계_60세 object
2025년01월_계_61세 object
2025년01월_계_62세 object
2025년01월_계_63세 object
2025년01월_계_64세 object
2025년01월_계_65세 object
2025년01월_계_66세 object
2025년01월_계_67세 object
2025년01월_계_68세 object
2025년01월_계_69세 object
2025년01월_계_70세 object
2025년01월_계_71세 object
2025년01월_계_72세 object
2025년01월_계_73세 object
2025년01월_계_74세 object
2025년01월_계_75세 object
2025년01월_계_76세 object
2025년01월_계_77세 object
2025년01월_계_78세 object
2025년01월_계_79세 object
2025년01월_계_80세 object
2025년01월_계_81세 object
2025년01월_계_82세 object
2025년01월_계_83세 object
2025년01월_계_84세 object
2025년01월_계_85세 object
2025년01월_계_86세 object
2025년01월_계_87세 object
2025년01월_계_88세 object
2025년01월_계_89세 object
2025년01월_계_90세 object
2025년01월_계_91세 object
2025년01월_계_92세 object
2025년01월_계_93세 object
2025년01월_계_94세 object
2025년01월_계_95세 object
2025년01월_계_96세 object
2025년01월_계_97세 object
2025년01월_계_98세 object
2025년01월_계_99세 int64
2025년01월_계_100세 이상 object
2025년01월_남_총인구수 object
2025년01월_남_연령구간인구수 object
2025년01월_남_0세 object
2025년01월_남_1세 object
2025년01월_남_2세 object
2025년01월_남_3세 object
2025년01월_남_4세 object
2025년01월_남_5세 object
2025년01월_남_6세 object
2025년01월_남_7세 object
2025년01월_남_8세 object
2025년01월_남_9세 object
2025년01월_남_10세 object
2025년01월_남_11세 object
2025년01월_남_12세 object
2025년01월_남_13세 object
2025년01월_남_14세 object
2025년01월_남_15세 object
2025년01월_남_16세 object
2025년01월_남_17세 object
2025년01월_남_18세 object
2025년01월_남_19세 object
2025년01월_남_20세 object
2025년01월_남_21세 object
2025년01월_남_22세 object
2025년01월_남_23세 object
2025년01월_남_24세 object
2025년01월_남_25세 object
2025년01월_남_26세 object
2025년01월_남_27세 object
2025년01월_남_28세 object
2025년01월_남_29세 object
2025년01월_남_30세 object
2025년01월_남_31세 object
2025년01월_남_32세 object
2025년01월_남_33세 object
2025년01월_남_34세 object
2025년01월_남_35세 object
2025년01월_남_36세 object
2025년01월_남_37세 object
2025년01월_남_38세 object
2025년01월_남_39세 object
2025년01월_남_40세 object
2025년01월_남_41세 object
2025년01월_남_42세 object
2025년01월_남_43세 object
2025년01월_남_44세 object
2025년01월_남_45세 object
2025년01월_남_46세 object
2025년01월_남_47세 object
2025년01월_남_48세 object
2025년01월_남_49세 object
2025년01월_남_50세 object
2025년01월_남_51세 object
2025년01월_남_52세 object
2025년01월_남_53세 object
2025년01월_남_54세 object
2025년01월_남_55세 object
2025년01월_남_56세 object
2025년01월_남_57세 object
2025년01월_남_58세 object
2025년01월_남_59세 object
2025년01월_남_60세 object
2025년01월_남_61세 object
2025년01월_남_62세 object
2025년01월_남_63세 object
2025년01월_남_64세 object
2025년01월_남_65세 object
2025년01월_남_66세 object
2025년01월_남_67세 object
2025년01월_남_68세 object
2025년01월_남_69세 object
2025년01월_남_70세 object
2025년01월_남_71세 object
2025년01월_남_72세 object
2025년01월_남_73세 object
2025년01월_남_74세 object
2025년01월_남_75세 object
2025년01월_남_76세 object
2025년01월_남_77세 object
2025년01월_남_78세 object
2025년01월_남_79세 object
2025년01월_남_80세 object
2025년01월_남_81세 object
2025년01월_남_82세 object
2025년01월_남_83세 object
2025년01월_남_84세 object
2025년01월_남_85세 object
2025년01월_남_86세 object
2025년01월_남_87세 object
2025년01월_남_88세 object
2025년01월_남_89세 object
2025년01월_남_90세 object
2025년01월_남_91세 object
2025년01월_남_92세 object
2025년01월_남_93세 object
2025년01월_남_94세 object
2025년01월_남_95세 object
2025년01월_남_96세 int64
2025년01월_남_97세 int64
2025년01월_남_98세 int64
2025년01월_남_99세 int64
2025년01월_남_100세 이상 int64
2025년01월_여_총인구수 object
2025년01월_여_연령구간인구수 object
2025년01월_여_0세 object
2025년01월_여_1세 object
2025년01월_여_2세 object
2025년01월_여_3세 object
2025년01월_여_4세 object
2025년01월_여_5세 object
2025년01월_여_6세 object
2025년01월_여_7세 object
2025년01월_여_8세 object
2025년01월_여_9세 object
2025년01월_여_10세 object
2025년01월_여_11세 object
2025년01월_여_12세 object
2025년01월_여_13세 object
2025년01월_여_14세 object
2025년01월_여_15세 object
2025년01월_여_16세 object
2025년01월_여_17세 object
2025년01월_여_18세 object
2025년01월_여_19세 object
2025년01월_여_20세 object
2025년01월_여_21세 object
2025년01월_여_22세 object
2025년01월_여_23세 object
2025년01월_여_24세 object
2025년01월_여_25세 object
2025년01월_여_26세 object
2025년01월_여_27세 object
2025년01월_여_28세 object
2025년01월_여_29세 object
2025년01월_여_30세 object
2025년01월_여_31세 object
2025년01월_여_32세 object
2025년01월_여_33세 object
2025년01월_여_34세 object
2025년01월_여_35세 object
2025년01월_여_36세 object
2025년01월_여_37세 object
2025년01월_여_38세 object
2025년01월_여_39세 object
2025년01월_여_40세 object
2025년01월_여_41세 object
2025년01월_여_42세 object
2025년01월_여_43세 object
2025년01월_여_44세 object
2025년01월_여_45세 object
2025년01월_여_46세 object
2025년01월_여_47세 object
2025년01월_여_48세 object
2025년01월_여_49세 object
2025년01월_여_50세 object
2025년01월_여_51세 object
2025년01월_여_52세 object
2025년01월_여_53세 object
2025년01월_여_54세 object
2025년01월_여_55세 object
2025년01월_여_56세 object
2025년01월_여_57세 object
2025년01월_여_58세 object
2025년01월_여_59세 object
2025년01월_여_60세 object
2025년01월_여_61세 object
2025년01월_여_62세 object
2025년01월_여_63세 object
2025년01월_여_64세 object
2025년01월_여_65세 object
2025년01월_여_66세 object
2025년01월_여_67세 object
2025년01월_여_68세 object
2025년01월_여_69세 object
2025년01월_여_70세 object
2025년01월_여_71세 object
2025년01월_여_72세 object
2025년01월_여_73세 object
2025년01월_여_74세 object
2025년01월_여_75세 object
2025년01월_여_76세 object
2025년01월_여_77세 object
2025년01월_여_78세 object
2025년01월_여_79세 object
2025년01월_여_80세 object
2025년01월_여_81세 object
2025년01월_여_82세 object
2025년01월_여_83세 object
2025년01월_여_84세 object
2025년01월_여_85세 object
2025년01월_여_86세 object
2025년01월_여_87세 object
2025년01월_여_88세 object
2025년01월_여_89세 object
2025년01월_여_90세 object
2025년01월_여_91세 object
2025년01월_여_92세 object
2025년01월_여_93세 object
2025년01월_여_94세 object
2025년01월_여_95세 object
2025년01월_여_96세 object
2025년01월_여_97세 object
2025년01월_여_98세 object
2025년01월_여_99세 int64
2025년01월_여_100세 이상 object

In [ ]:
# 인구 데이터 준비 2 : "1,234" -> 숫자로 해석 : thousands=','
df_population2 = pd.read_csv("data-files/population.csv", encoding="utf-8", thousands=",")

In [8]:
df_population2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3911 entries, 0 to 3910
Columns: 310 entries, 행정구역 to 2025년01월_여_100세 이상
dtypes: int64(309), object(1)
memory usage: 9.3+ MB

In [9]:
df_population2.shape

(3911, 310)

In [10]:
df_population2.head()

,행정구역,2025년01월_계_총인구수,2025년01월_계_연령구간인구수,2025년01월_계_0세,2025년01월_계_1세,2025년01월_계_2세,2025년01월_계_3세,2025년01월_계_4세,2025년01월_계_5세,2025년01월_계_6세,...,2025년01월_여_91세,2025년01월_여_92세,2025년01월_여_93세,2025년01월_여_94세,2025년01월_여_95세,2025년01월_여_96세,2025년01월_여_97세,2025년01월_여_98세,2025년01월_여_99세,2025년01월_여_100세 이상
0,서울특별시 (1100000000),9330658,9330658,39850,37364,40099,42172,42945,46754,50060,...,6942,5594,4234,3288,2679,1963,1424,843,535,1142
1,서울특별시 종로구 (1111000000),138208,138208,430,406,450,477,475,539,520,...,125,120,83,66,49,52,35,23,9,28
2,서울특별시 종로구 청운효자동(1111051500),11040,11040,49,40,39,42,52,44,52,...,9,11,9,5,4,6,1,1,1,1
3,서울특별시 종로구 사직동(1111053000),8939,8939,25,23,35,40,32,39,38,...,7,8,9,5,6,5,2,0,1,3
4,서울특별시 종로구 삼청동(1111054000),2214,2214,7,7,6,8,3,6,7,...,6,3,2,1,3,1,0,0,0,0

In [11]:
df_population2.iloc[:3, :10]

,행정구역,2025년01월_계_총인구수,2025년01월_계_연령구간인구수,2025년01월_계_0세,2025년01월_계_1세,2025년01월_계_2세,2025년01월_계_3세,2025년01월_계_4세,2025년01월_계_5세,2025년01월_계_6세
0,서울특별시 (1100000000),9330658,9330658,39850,37364,40099,42172,42945,46754,50060
1,서울특별시 종로구 (1111000000),138208,138208,430,406,450,477,475,539,520
2,서울특별시 종로구 청운효자동(1111051500),11040,11040,49,40,39,42,52,44,52

In [15]:
# df_population2['행정구역'].str.slice(-6, -5) # '행정구역' 컬럼에서 뒤에서 여섯번째 문자 읽기
# df_population2['행정구역'].str.slice(-6, -5) != '0' # '행정구역' 컬럼에서 뒤에서 여섯번째 문자가 '0'이 아닌지 여부
df_population2["읍면동여부"] = df_population2['행정구역'].str.slice(-6, -5) != '0'
df_population2.iloc[:5, [0, -1]]

                          행정구역  읍면동여부
0          서울특별시  (1100000000)  False
1       서울특별시 종로구 (1111000000)  False
2  서울특별시 종로구 청운효자동(1111051500)   True
3    서울특별시 종로구 사직동(1111053000)   True
4    서울특별시 종로구 삼청동(1111054000)   True

In [18]:
a = np.array([1, 2, 3, 4, 5])
a[[True, False, False, True, False]]

array([1, 4])

In [24]:
# 읍면동 수준에서 인구가 가장 많은, 가장 적은 행정구역, 인구가 가장 적은 행정구역 검색
mask = df_population2['읍면동여부']
max_pop = df_population2[mask]['2025년01월_계_총인구수'].max()
min_pop = df_population2[mask].iloc[:, 1].min()
print( max_pop, min_pop )

col = df_population2['2025년01월_계_총인구수']
# (col == max_pop) or (col == min_pop) # 오류 : and, or는 여러 개의 값에 대한 논리 연산을 한 번에 실행 불가
mask2 = (col == max_pop) | (col == min_pop) # 총인구수 컬럼의 값이 max_pop 또는 min_pop와 같은 행 조회
df_population2[mask2].iloc[:, :2]

116849 0

                                 행정구역  2025년01월_계_총인구수
851        인천광역시 중구영종출장소 (2811400000)                0
852        인천광역시 중구용유출장소 (2811800000)                0
984        인천광역시 서구검단출장소 (2826500000)                0
1289              북부출장소  (4110500000)                0
1530           경기도 송탄출장소 (4122200000)                0
1531           경기도 안중출장소 (4122400000)                0
1653           경기도 풍양출장소 (4136200000)                0
1858        경기도 화성시동부출장소 (4159200000)                0
1859        경기도 화성시동탄출장소 (4159400000)                0
1950              동해출장소  (5110500000)                0
2296  충청북도 진천군 덕산읍혁신도시출장소(4375025400)                0
3007    전라남도 화순군 화순읍민원출장소(4679025100)                0
3154   전라남도 신안군 비금면수치도출장소(4691034500)                0
3653        경상남도 사천남양출장소 (4824500000)                0
3674          경상남도 장유출장소 (4825200000)                0
3716         경상남도 양산시 물금읍(4833025300)           116849
3729       경상남도 양산시웅상출장소 (4833200000)                0