In [ ]:
# mysql 데이터베이스 연동 패키지(모듈) 설치

!pip install pymysql cryptography

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\human\appdata\roaming\python\python311\site-packages (1.1.1)
Collecting cryptography
  Downloading cryptography-44.0.2-cp39-abi3-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: cffi>=1.12 in d:\apps\miniconda3\envs\python-env-311\lib\site-packages (from cryptography) (1.17.1)
Requirement already satisfied: pycparser in d:\apps\miniconda3\envs\python-env-311\lib\site-packages (from cffi>=1.12->cryptography) (2.22)
Downloading cryptography-44.0.2-cp39-abi3-win_amd64.whl (3.2 MB)
   ---------------------------------------- 0.0/3.2 MB ? eta -:--:--
   ------------------- -------------------- 1.6/3.2 MB 10.5 MB/s eta 0:00:01
   ----------------------------------- ---- 2.9/3.2 MB 7.0 MB/s eta 0:00:01
   ---------------------------------------- 3.2/3.2 MB 6.5 MB/s eta 0:00:00
Installing collected packages: cryptography
Successfully installed cryptography-44.0.2

In [3]:
# 패키지(모듈) 준비
import pymysql

In [ ]:
# 데이터 연동 1-1. 연결
conn = pymysql.connect(
    host="localhost", # 이 코드가 실행되는 컴퓨터 == 127.0.0.1
    user="humanda5",
    password="humanda5",
    database="sakila"
)

print( conn )

In [ ]:
# 데이터 연동 1-2. 명령 실행기 준비
cursor = conn.cursor()

In [ ]:
# 데이터 연동 1-3. 명령 실행 ( SQL 작성 + 실행 )
sql = """select film_id, title, release_year, length, rating 
         from film 
         limit 10"""
cursor.execute(sql)

10

In [ ]:
# 데이터 연동 1-4. 조회 결과 읽기 (select query를 실행한 경우)
rows = cursor.fetchall()
for row in rows:
    print(type(row), row)

<class 'tuple'> (1, 'ACADEMY DINOSAUR', 2006, 86, 'PG')
<class 'tuple'> (2, 'ACE GOLDFINGER', 2006, 48, 'G')
<class 'tuple'> (3, 'ADAPTATION HOLES', 2006, 50, 'NC-17')
<class 'tuple'> (4, 'AFFAIR PREJUDICE', 2006, 117, 'G')
<class 'tuple'> (5, 'AFRICAN EGG', 2006, 130, 'G')
<class 'tuple'> (6, 'AGENT TRUMAN', 2006, 169, 'PG')
<class 'tuple'> (7, 'AIRPLANE SIERRA', 2006, 62, 'PG-13')
<class 'tuple'> (8, 'AIRPORT POLLOCK', 2006, 54, 'R')
<class 'tuple'> (9, 'ALABAMA DEVIL', 2006, 114, 'PG-13')
<class 'tuple'> (10, 'ALADDIN CALENDAR', 2006, 63, 'NC-17')

In [ ]:
# 데이터 연동 1-5. 연결 종료
cursor.close()
conn.close()

In [ ]:
# insert 구문 처리 : sql과 데이터를 문자열로 결합

# 데이터 연동 2-1. 연결
conn = pymysql.connect(
    host="127.0.0.1",
    user='root',
    password='human',
    database='univDB'
    # , autocommit=True # execute() 마다 자동으로 commit() 실행 
)

# 데이터 연동 2-2. 명령 실행기 만들기
cursor = conn.cursor()

# 데이터 연동 2-3. 명령 실행 ( SQL 작성 + 실행 )
sql = "insert into 과목 values('c006', '데이터분석', 205, '컴퓨터', 3)"
cursor.execute(sql)
conn.commit() # 이전 작업 결과를 원본 테이블에 적용

# 데이터 연동 2-4. 조회 결과 읽기 ( select query인 경우 )
# 여기서는 insert 실행이므로 생략

# 데이터 연동 2-5. 연결 종료
cursor.close()
conn.close()

In [ ]:
# insert 구문 처리 : sql과 데이터를 분리

# 데이터 연동 3-1. 연결
conn = pymysql.connect(
    host="127.0.0.1",
    user='root',
    password='human',
    database='univDB'
)

# 데이터 연동 3-2. 명령 실행기 만들기
cursor = conn.cursor()

# 데이터 연동 3-3. 명령 실행 ( SQL 작성 + 실행 )
sql = "insert into 과목 values(%s, %s, %s, %s, %s)"
cursor.execute(sql, ('c007', '머신러닝', 215, '인공지능', 3))
conn.commit() # 이전 작업 결과를 원본 테이블에 적용

# 데이터 연동 3-4. 조회 결과 읽기 ( select query인 경우 )
# 여기서는 insert 실행이므로 생략

# 데이터 연동 3-5. 연결 종료
cursor.close()
conn.close()

In [ ]:
# insert 구문 처리 : 여러 개의 값을 한 번에 일괄 처리

# 데이터 연동 4-1. 연결
conn = pymysql.connect(
    host="127.0.0.1",
    user='root',
    password='human',
    database='univDB'
)

# 데이터 연동 4-2. 명령 실행기 만들기
cursor = conn.cursor()

# 데이터 연동 4-3. 명령 실행 ( SQL 작성 + 실행 )
sql = "insert into 과목 values(%s, %s, %s, %s, %s)"
cursor.executemany(sql, (('c008', 'CNN', 216, '인공지능', 3),
                         ('c009', 'RNN', 217, '인공지능', 3)) )
conn.commit() # 이전 작업 결과를 원본 테이블에 적용

# 데이터 연동 4-4. 조회 결과 읽기 ( select query인 경우 )
# 여기서는 insert 실행이므로 생략

# 데이터 연동 4-5. 연결 종료
cursor.close()
conn.close()

In [15]:
# ddl 구문 처리

# 데이터 연동 5-1. 연결
conn = pymysql.connect(
    host="127.0.0.1",
    user='root',
    password='human',
    database='univDB'
)

# 데이터 연동 5-2. 명령 실행기 만들기
cursor = conn.cursor()

# 데이터 연동 5-3. 명령 실행 ( SQL 작성 + 실행 )
sql = """CREATE TABLE 과목10 (
  과목번호 char(4) NOT NULL,
  이름 varchar(20) NOT NULL,
  강의실 char(3) NOT NULL,
  개설학과 varchar(20) NOT NULL,
  시수 int NOT NULL,
  PRIMARY KEY (과목번호)
)"""
cursor.execute(sql)
# conn.commit() # 이전 작업 결과를 원본 테이블에 적용 : ddl이기 때문에 불필요

# 데이터 연동 5-4. 조회 결과 읽기 ( select query인 경우 )
# 여기서는 insert 실행이므로 생략

# 데이터 연동 5-5. 연결 종료
cursor.close()
conn.close()